/* Brand colors
-------------------------------------------------- */
.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.lightest {
  color: $lightest-color;
}

.light {
  color: $light-color;
}

.dark {
  color: $dark-color;
}

.darkest {
  color: $darkest-color;
}
.active {
  color: $active-color;
}

.info {
  color: $info-color;
}

.success {
  color: $success-color;
}

.warning {
  color: $warning-color;
}

.danger {
  color: $danger-color;
}

/* Brand background color
-------------------------------------------------- */
.has-bcg {
  background-color: $bcg-color;
}

.primary-bcg {
  background-color: $primary-color;
}

.secondary-bcg {
  background-color: $secondary-color;
}

.info-bcg {
  background-color: $info-color;
}

.success-bcg {
  background-color: $success-color;
}

.warning-bcg {
  background-color: $warning-color;
}

.danger-bcg {
  background-color: $danger-color;
}

/* Basic colors
-------------------------------------------------- */
.white {
  color: $white;
}

.black {
  color: $black;
}

.blue {
  color: $blue;
}

.cyan {
  color: $cyan;
}

.turquoise {
  color: $turquoise;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.orange-red {
  color: $orange-red;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

/* Baisic background colors
-------------------------------------------------- */
.white-bcg {
  background-color: $white;
}

.black-bcg {
  background-color: $black;
}

.blue-bcg {
  background-color: $blue;
}

.cyan-bcg {
  background-color: $cyan;
}

.turquoise-bcg {
  background-color: $turquoise;
}

.yellow-bcg {
  background-color: $yellow;
}

.green-bcg {
  background-color: $green;
}

.red-bcg {
  background-color: $red;
}

.purple-bcg {
  background-color: $purple;
}

.orange-red-bcg {
  background-color: $orange-red;
}

.orange-bcg {
  background-color: $orange;
}

.pink-bcg {
  background-color: $pink;
}