/* Card wrap
-------------------------------------------------- */
:host,vds-card-wrap,.vds-card-wrap {
  @include displayFlex();
  @include flexWrap(wrap);
  list-style: none;
  margin: 0;
  padding: 0;
}