/* Error 404
-------------------------------------------------- */
.error404 {
  text-align: center;
  padding: $spacing;

  header {
    font-size: 130%;
    margin: $spacing 0;
  }
  i{
    color: $info-color;
  }

}
