/* Img gallery
-------------------------------------------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    text-align: center;
  }

  img {
   transition: all 1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}