/* Item group
-------------------------------------------------- */
// https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/


/* Mixin - inline group items
-------------------------------------------------- */
@mixin inlineItemGroup() {
  // #{$input-type-text} 
    .field,
    .item
   {
  
      &:not(:last-child) {
        border-width: 1px 0 1px 1px;
      }
  
      &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
      }
  
      &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  
    .field {
      flex: 1;
  
      &:not(:first-child) {
        border-left: 0;
      }
  
      &:not(:last-child) {
        border-right: 0;
      }
    }
  }
  
  /* Box Items
  -------------------------------------------------- */
  .item-group {
    list-style: none;
    margin: 0;
    padding: 0;
    @include displayFlex();
    @include flexDirection(column);
    //@include justifyContent(center);
    //#{$input-type-text}
    .fied,
    .item {
      //width: 100%;
      padding: $input-padding;
      font: inherit;
      font-weight: normal;
      border-radius: 0;
      border: 1px solid $border-color;
  
      &:not(:last-child) {
        border-width: 1px 1px 0 1px;
      }
  
      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }
  
      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
      }
  
    }
  
    &.inline-flex {
      @include displayInlineFlex();
  
    }
  
    &.is-menu:not(.group-inline) {
      >* {
        a{
          @include displayFlex();
          @include alignItems(center);
          @include justifyContent(space-between);
          &:hover{
            text-decoration: none;
          }
        }
        
       
      }
    }
  
    &.has-ctrl:not(.group-inline) {
      >* {
        @include displayFlex();
        @include alignItems(center);
        @include justifyContent(space-between);
      }
    }
  
    /* Striped  */
    &.is-striped {
      *:nth-child(odd) {
        background-color: $table-strip-bcg-color;
      }
    }
  
    /* Hover */
    &.has-hover {
      > *:hover {
        background-color: $table-hover-bcg-color;
      }
    }
  
    /* Condensed */
    &.is-condensed {
      font-size: 90%;
  
      >* {
        padding: $spacing-half;
      }
    }
  
    // Inline display on all devices
    &.group-inline {
      @include flexDirection(row);
      @include inlineItemGroup();
    }
  
    // Inline display only on all Small devices and bigger
    @include mqMin($break-s) {
      &.group-inline-s {
        @include flexDirection(row);
        @include inlineItemGroup();
      }
    }
  
    // Inline display only on all Medium devices and bigger
    @include mqMin($break-m) {
      &.group-inline-m {
        @include flexDirection(row);
        @include inlineItemGroup();
      }
    }
  
    // Inline display only on all Large devices and bigger
    @include mqMin($break-l) {
      &.group-inline-l {
        @include flexDirection(row);
        @include inlineItemGroup();
      }
    }
  
    &.no-border{
      >*{
        border: 0;
        padding: 0;
      }
    }
  
  }