/* List
-------------------------------------------------- */

/* UL definition list
-------------------------------------------------- */
.deflist {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include displayFlex();
    @include flexFlow(row);
    @include flexWrap(wrap);

    >* {
      flex: 0 0 50%;
    }

    >:first-child {
      font-weight: bold;
      padding-right: $spacing;

      &::after {
        content: ':';
      }
    }
  }
}

/* Real definition list
-------------------------------------------------- */

dl {
  dt {
    font-weight: bold;
  }

 .inline {
    @include displayFlex();
    @include flexFlow(row);
    @include flexWrap(wrap);

    dt {
      flex: 0 0 50%;
      margin: 0 0 $spacing 0;
    }

    dd {
      flex: 0 0 50%;
      margin: 0 0 $spacing 0;
    }
  }
}