/* Modal
-------------------------------------------------- */
// https://medium.com/@andrejsabrickis/a-fullscreen-modal-with-fixed-header-footer-and-a-scrollable-content-1656845c8171
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  overflow: auto;

  .modal-inner {
    @include boxShadow(1px 1px 5px 0px rgba(50, 50, 50, 0.29));
    background-color: $bcg-color;
    margin: $spacing-quad;

    >* {
      padding: $spacing $spacing-double;
    }

    &.is-confirm {
      width: 50%;
      margin: 10rem auto 0;
    }
  }

  header {
    border-bottom: solid 1px $border-color;

    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
    width: 100%;

    .close {
      font-size: 130%;
      cursor: pointer;
      color: $gray-40;
      font-weight: bold;
    }

    &:empty {
      display: none;
    }
  }

  footer {
    border-top: solid 1px $border-color;
    text-align: right;

    &:empty {
      display: none;
    }
  }
}
