/* Overlay
-------------------------------------------------- */
// https://medium.com/@andrejsabrickis/a-fullscreen-modal-with-fixed-header-footer-and-a-scrollable-content-1656845c8171
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; //overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-bcg-color;
  z-index: $zindex-overlay;
}