
<body id="body" class="sticky-header aside-inactive">
  <!-- /////////////////////////////////////// Header stripe ////////////////////////////////////// -->
  <section id="headerStripe">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </section>
  <!-- /////////////////////////////////////// Header ////////////////////////////////////// -->
  <header id="header">
    <section>
     
      <div id="headerBrand">
        <!-- <span class="hide-min-l" id="headerLogo">V</span> -->
        <!-- Logo -->
        <a class="hide-min-s" id="headerLogo" href="index.html"> 
            @@include('../../img/svg/vades-symbol.svg')
        </a>
        <a class="hide-max-s" id="headerLogo" href="index.html"> 
            @@include('../../img/svg/vades-symbol-text.svg')
        </a>
      </div>
      <!-- Navi -->
      <nav id="headerPrimary">
        <ul class="inline">
          <li>
             <a class="page-anchor" href="#home_services">Services</a>
           </li>
           <li>
             <a class="page-anchor" href="#home_reference">Reference</a>
           </li>
           <li> 
             <a class="page-anchor" href="#home_about">About</a>
           </li>
         </ul>
      </nav>
      <nav id="headerContact">
         <a class="button page-anchor s-xs" href="#home_contact">Contact</a> 
      </nav>
    </section>
    
  </header>
  <section id="page" class="layout-m">
      <!-- /////////////////////////////////////// Main ////////////////////////////////////// -->
      <main id="main">