<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VADES - Martin Vach - Web App Development and all...</title>
  <meta name="description" content="Martin Vach - Full stack web developer specialising in the back-end and front-end development." />
  <meta name="keywords" content="PHP (OOP), MySql, MVC, REST API, Laravel, HTML, CSS, SASS, JSON, AngularJS, Angular, JavaScript, jQuery, TypeScript" />
  <link media="screen" type="text/css" rel="stylesheet" href="./css/main.css?ver=1.0.0">
  <link media="screen" type="text/css" rel="stylesheet" href="./css/custom.css?ver=1.0.0">
  <link rel="shortcut icon" href="./img/favicon-32x32.png">
</head>