
<body id="body" class="sticky-header aside-inactive">
  <!-- /////////////////////////////////////// Header ////////////////////////////////////// -->
  <header id="header">
    <section>
     
      <div id="headerBrand">
        <span class="hide-min-l" id="headerLogo">V</span>
        <!-- Logo -->
        <a class="hide-max-s" id="headerLogo" href="index.html"> 
          <img src="./img/logo.png">
        </a>
      </div>
      <!-- Navi -->
      <nav id="headerPrimary">
        <ul class="inline">
          <li>
             <a class="page-anchor" href="#home_services">Services</a>
           </li>
           <li>
             <a class="page-anchor" href="#home_reference">Reference</a>
           </li>
           <li>
             <a class="page-anchor" href="#home_about">About</a>
           </li>
           <li>
             <a class="page-anchor" href="#home_contact">Contact</a>
           </li>
         </ul>
      </nav>
    </section>
  </header>
  <section id="page" class="layout-m">
      <!-- /////////////////////////////////////// Main ////////////////////////////////////// -->
      <main id="main">