/* Footer
-------------------------------------------------- */
#footer {
 width: 100%;
  background-color: $bcg-color;
  .bar{
    padding: $spacing;
    font-size: 90%;
    text-align: center;
    a{ 
       &::before{
         content: "\2022";
         padding: $spacing;
       }
     }
  }
}

