/* Footer
-------------------------------------------------- */
#footer {
  border-top: solid 1px $primary-color-20;
 .bar{
    padding: $spacing;
    font-size: 90%;
    text-align: center;
    a{ 
       &::before{
         content: "\2022";
         padding: $spacing;
       }
     } 
  }
}

