//@import "~sass/_shared.scss";
/* Body
-------------------------------------------------- */
body {
  /*  @include displayFlex();
  @include flexDirection(column);
  min-height: 100vh; */
  background: lighten($primary-color-10, 3) url('../img/bcg-body.jpg');

  /* body overflow is hidden to hide main scrollbar when modal window is open */
  &.modal-open {
    overflow: hidden;
  }
}

/* Layout m (main) - without  sidebars
-------------------------------------------------- */
.layout-m {
  #main {

    //padding: $spacing;
    @include mqMin($break-l) {
      //padding: $spacing-double;
    }
  }
}

/* Common
-------------------------------------------------- */
#main {
  >section {
    padding: $spacing;
  }
}

.section-header {
  text-align: center;
  margin-bottom: $spacing-double;

  .text-icon {
    svg {
      width: 32px;
      max-height: 32px;
      color: $primary-color-40;

    }

    figcaption {
      font-size: 110%;
      text-transform: uppercase;
    }
  }
}

// Validate errors
.validate-errors {
  >* {
    font-weight: bold;

    &::before {
      content: "*";
    }
  }
}

// Validate errors
.notify {
  background-color: $primary-color-10;
  color: $primary-color-80;

  &.is-success {

    border-color: $primary-color-20;
  }

  &.is-danger {
    background-color: $primary-color-80;
    color: $primary-color-20;
    border-color: $primary-color-80;
  }
}

/* home_jumbotron
-------------------------------------------------- */
#home_jumbotron {

  @include mqMin($break-m) {

    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
  }

  @include mqMin($break-l) {
    width: $container-max-w;
    margin: 0 auto;
    & article{
      width: 50%;
    }
  }


  .jumbotron-text {
  
    font-size: 130%;
    margin: $spacing-double 0;
    text-align: center;

    @include mqMin($break-m) {
      font-size: 160%;
      text-align: left;
    }
  }

  .jumbotron-img {

    svg {
      height: 20rem;
      width: 100%;

      @include mqMin($break-m) {
        height: 40rem;
      }
    }
  }

}

/* home_services
-------------------------------------------------- */
#home_services {
  border-top: solid 1px $primary-color-20;

  .cards {
    @include mqMin($break-l) {
      width: $container-max-w;
      margin: 0 auto;
    }
  }

  .card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    header {
      text-align: center;
      margin: 0 auto;

      svg {
        width: 32px;
        height: 32px;
        color: $primary-color-40;
      }
    }

  }
}

/* Reference
-------------------------------------------------- */
#home_reference {
  border-top: solid 2px darken($primary-color-10, 3%);
  border-bottom: solid 2px darken($primary-color-10, 7%);
  background: $primary-color-10;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fabcb7+0,fde9e7+100 */

  /* IE6-9 */
  .text-icon {
    svg {

      color: $secondary-color-60;

    }

    figcaption {
      color: $primary-color-60;
    }
  }

  .gallery {
    @include mqMin($break-l) {
      width: $container-max-w;
      margin: 0 auto;
    }

    >figure {
      width: 33.3333%;
      cursor: pointer;

      @include mqMin($break-l) {
        width: 16.6666%;
      }

      >img {
        object-fit: cover;
        height: 120px;
        border: solid 1px darken($primary-color-10, 7%);

        //border-radius: 50%;
        @include mqMin($break-m) {
          height: auto;
        }
      }

    }

    .modal {
     
      article {
        text-align: center;

        @include mqMin($break-m) {
          text-align: left;
          @include displayFlex();
          > *{
            width: 50%;
          }
        }

        figure {
          img {
            max-height: 500px;
          }
        }
      }
    }
  }

  a[href=""].reference-link {
    display: none;
  }
}

/* About
-------------------------------------------------- */
#home_about {
  //background: $primary-color-10;

  //border-bottom: solid 10px darken($primary-color-10, 3%);

  section {
    @include mqMin($break-m) {

      @include displayFlex();
      /*  @include justifyContent(space-between);
      @include alignItems(center); */
      // padding: 0 $spacing-double;
      // margin: $spacing-double 0;
      background-color: $bcg-color;
      @include borderRadius(10px);
      padding: $spacing-quad;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
      -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
      box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
    }

    @include mqMin($break-l) {
      width: $container-max-w;
      margin: 0 auto;
    }
  }

  article {
    width: 50%;

    h3 {
      font-size: 120%
    }

    @include mqMin($break-m) {

      padding: 0 $spacing-double;
      margin: $spacing-double 0;

    }
  }

  .about-me {
    font-size: 120%;
    margin-bottom: $spacing-double;

    @include mqMin($break-m) {
      margin-bottom: 0;
    }
  }

  .about-skils {}


}

/* Contact
-------------------------------------------------- */
#home_contact {
  @include mqMin($break-l) {
    width: 50%;
    margin: 0 auto;
  }
}

#contact_form {

  margin-top: $spacing-double;

  /* border: solid 10px $primary-color-10;
  padding: $spacing-double; */
  .input-wrap {
    margin-bottom: $spacing-double;
  }
}

#button_submit {
  width: 100%;
  font-size: 120%;
  text-transform: uppercase;
  padding: $spacing $spacing-double;

  @include mqMin($break-l) {
    width: auto;
  }
}