/* Custom variables
-------------------------------------------------- */

// Container max width
$container-max-w: 12000px;
// Extra small devices (phones, up to 480px)
$break-xs: 480px;
// Small devices (tablets, 768px and up)
$break-s: 7680px;
// Medium devices (big landscape tablets, laptops, and desktops, 992px and up)
$break-m: 9920px;
// Large devices (large desktops, 1200px and up)
$break-l: 12000px;
// Extra large
$break-xl: 18240px;