/* Custom variables
-------------------------------------------------- */

// Container max width
$container-max-w: 1200px;
// Extra small devices (phones, up to 480px)
$break-xs: 480px;
// Small devices (tablets, 768px and up)
$break-s: 768px;
// Medium devices (big landscape tablets, laptops, and desktops, 992px and up)
$break-m: 992px;
// Large devices (large desktops, 1200px and up)
$break-l: 1200px;
// Extra large
$break-xl: 1824px;